.notification {
	display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    font-size: 13px;
    color: rgba(255,255,255,0.5);
    background: rgba(234, 247, 255, 0.035);
    line-height: 30px;
    border-radius: 100px;
    margin: 7px auto;
    height: 30px;
    width: 30%;
	min-width: 300px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.05), 0px -1px 0px rgba(0,0,0,.05), inset 0px 1px 0px rgba(255,255,255,.02), inset 0px -1px 0px rgba(255,255,255,.02);
    text-shadow: 0px -1px 0px rgba(0,0,0,.1), 0px 1px 0px rgba(255,255,255,.05);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}
.notification time {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 11px;
    padding: 8px;
    border-radius: 100px;
    background: #252C33;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0), inset 0px 0px 1px rgba(27,35,42,0.1);
    height: 1px;
    line-height: 0px;
    color: rgba(255,255,255,0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}