@import 'themes.scss';

:host-context(.messages-irc) {

    .wrapper {
        width: 100%;
        // padding: 0.4rem 0.2rem;
        display:flex;
    }

    .avatar {
        padding-top: 4px;
    }

    .avatar img {
        display: none;
    } 

    .msg {
        padding-left: 7px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
    }

    .message-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 0 100px;
        max-width: 200px;

        .user {
            flex: 1 1 auto;
            font-weight: bold;
            order: 1;
            text-align: right;
            padding-right: 4px;
        }

        .message-header-time {
            order: 0;
            flex: 0 0 37px;
            padding-right: 5px;
            font-size: 0.9rem;
            color:rgb(128, 128, 128);
            cursor: default;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;            
        }
    }

    .message-header:after {
        order: 2;
        width: 1px;
        height: 23px;
        margin-right: 5px;
        background-color: $dark-background-color;
        content: '';
        transition: all .2s ease-in-out 0s;
    }

    .message-text {
        flex: 2 1 100%;
        align-self: center;

        p:last-child {
            margin-bottom: 0;
        }
    }

    .message-footer-time {
        display: none;
    }
}