@import 'themes.scss';

.wrapper {
    display:flex;
}

:host-context(.messages-compact) {

    .wrapper {
        width: 100%;
        padding: 0.2rem 1rem;
    }

    .avatar {
        padding-top: 7px;
    }

    .avatar img {
        width: 40px;
        height: 40px;
        border-radius: 25%;
        -webkit-border-radius: 25%;
        -moz-border-radius: 25%;
        -ms-border-radius: 25%;
        background-color: rgba(255,255,255,0.9);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    } 

    .msg {
        padding-left: 7px;
        flex: 1 1 100%;
    }

    .message-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        .user {
            font-weight: bold;
            padding-right: 7px;
            font-size: 1.1rem;
        }

        .message-header-time {
            align-self: flex-end;
            font-size: 0.9rem;
            color:rgb(128, 128, 128);
            cursor: default;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;            
        }
    }

    .message-text {
        p:last-child {
            margin-bottom: 0;
        }
    }

    .message-footer-time {
        display: none;
    }
}