<div class="wrapper {{((message.senderGuid == identifier) ? 'self fade-in-left' : 'other fade-in-right')}}">
  <div class="avatar"><img [src]="message.avatarSourceUrl" draggable="false" /></div>
  <div class="msg">
    <div class="message-header">
        <div class="user">{{message.senderName}}</div>
        <time class="message-header-time">{{formatDate(message.timestamp, "HH:mm")}}</time>
    </div>
    <div class="message-text">
      <p>{{message.message}}</p>
    </div>
    <time class="message-footer-time">{{formatDate(message.timestamp, "HH:mm")}}</time>
  </div>
</div>