<div class="pane left-pane {{navigation.chatIsActiveWindow ? '' : 'active'}}">
  <room-overview [selfIdentifier]="selfIdentifier" [roomList]="roomList"></room-overview>
</div>
<div class="pane middle-pane {{navigation.chatIsActiveWindow ? 'active' : ''}}">
  <router-outlet></router-outlet>
  <!-- <ng-container *ngIf="this.roomList">
    <chat-room [chatRoom]="currentRoom" [selfIdentifier]="this.selfIdentifier" (messageSend)="sendMessage($event)" (navigateToRoomOverview)="this.chatIsActiveWindow = false"></chat-room>
  </ng-container> -->
</div>