@import 'themes.scss';
@import 'bootstrap-extensions/button-outline-themed';

h1, h2, h3, h4 {
    padding-bottom: 10px;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    white-space: nowrap;
    position: relative;
    height: 100%;   
}

//hide component if we're not in the active pane in mobile mode
@media (max-width: 768px) {
    :host-context(.middle-pane:not(.active)) .content {
        display: none !important;
    }
}

:host-context(.dark-theme) {
    .content {
        color: $dark-foreground-color;
    }
}

:host-context(.light-theme) {
    .content {
        color: $light-foreground-color;
    }
}

.content {
    flex: 1 1 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-header {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    color: $dark-foreground-color;
    background-color: $dark-menu-color;

    & .back {
        height: 50px;
        color: rgba(255, 255, 255, 0.5);
        line-height: 45px;
        font-size: 40px;
        cursor: pointer;
        transition: .15s all;        
        padding-left: 15px;
    }

    @media (min-width: 768px) {
        & .back {
            display: none;
        }
    }    
}

.message-theme-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.message-theme-options {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    & span {
        white-space: initial;
    }
}

.message-theme-preview {
    border-top: 1px solid darken($dark-foreground-color, 20%);
    border-bottom: 1px solid darken($dark-foreground-color, 20%);
    display: flex;
    flex: 0 1 250px;
    padding: 5px;
    flex-direction: column;
    margin-left: 20px;   
    
    & chat-message {
        overflow: hidden;
        display: flex;
    }
}

:host-context(.messages-bubble) {
    .message-theme-preview chat-message {
        padding: 0.4rem 1rem;
    }
}
