/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #252C33 !important;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
    height:100%;
}