@import 'themes.scss';
.notification {
   padding: .75rem 1.25rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
}

/* our notification doesn't need the padding because the message is big enough */
.notification .content {
   padding-right: 0px !important;
}

:host-context(.dark-theme) {
   .notification {
      border-color: $dark-alert;
   }
}

:host-context(.light-theme) {
   .notification {
      border-color: $light-alert;
   }
}