@import 'themes.scss';

::selection {
   background: rgba(82, 179, 217, 0.3);
   color: inherit;
}

.chat-app-wrapper {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: stretch;
}


/* M E N U */

.chat-menu {
   width: 100%;
   min-height: 60px;
   background: $dark-menu-color;
   padding-top: 4px;
   padding-bottom: 7px;
   z-index: 100;
   order: 1;
   display: flex;
   flex: 1 0 auto;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.chat-menu.simple>div {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.chat-menu.simple div {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.menu-header-item {
   flex: 0 0 auto;
   padding: 0px 15px;
   white-space: nowrap;
   display: flex;
   align-items: center;   
}

.menu-header-item div {
   display:flex;
   align-items: center;
}

.menu-back .back:hover,
.back:focus {
   text-decoration: none;
}

@media screen and (max-width:768px) {
   .back {
      height: 50px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 45px;
      font-size: 40px;
      cursor: pointer;
      transition: .15s all;
   }
   .back:before {
      position: absolute;
      bottom: 0px;
      left: 0;
      visibility: hidden;
      width: 121px;
      height: 1px;
      content: '';
      transition: all .2s ease-in-out 0s;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
   }

   :host-context(.dark-theme) .back:before {
     background-color: $dark-foreground-color;
   }

   :host-context(.light-theme) .back:before {
     background-color: black;
   }   

   .back:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
   }
   .desktop-only {
      display: none;
   }
   .back:active {
      background: rgba(0, 0, 0, 0.15);
   }
   .group-picture {
      margin-left: 15px;
   }
}

@media screen and (min-width:768px) {
   .menu-back {
      width: 0;
      display: none;
   }
   .group-picture {
      margin-top: 5px;
   }
}

.group-picture {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size:20px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   vertical-align: middle;
}

.name {
   /*left: 110px;*/
   font-family: 'Lato';
   font-size: 20px;
   font-weight: 300;
   color: rgba(255, 255, 255, 0.98);
   cursor: default;
}

.last {
   font-family: 'Lato';
   font-size: 11px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.6);
   cursor: default;
}

.members {
   font-family: 'Lato';
   font-size: 11px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.6);
   cursor: default;
   word-spacing: 2px;
}


/* M E S S A G E S */

.chat-messages {
   overflow-x: hidden;
   overflow-y: scroll;
   height: 100%;
   order: 2;
}

:host-context(.dark-theme) .chat-messages {
   background-color: $dark-background-color;
}

:host-context(.light-theme) .chat-messages {
   background-color: $light-background-color;
}

.chat {
   list-style: none;
   background: none;
   margin: 0;
   padding: 10px 0 10px 0;
}

.chat chat-notification {
   display: flex;
}

.chat chat-message {
   padding: 0.5rem 1rem;
   overflow: hidden;
   display: flex;
}


/* T Y P E */

.input-wrapper {
  order:3;
  padding: 8px 8px 6px 5px;
}

.chat-input {
   height: 50px;
   z-index: 99;
   padding-left: 10px;
   padding-right: 55px;
   border-radius:5px;
   transition: border-color 300ms ease-in-out;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

:host-context(.dark-theme) {
  .chat-input {
    background-color: lighten($dark-background-color, 10%);
    color: $dark-foreground-color;
    border-color: $dark-menu-color;

    &:focus,&:hover {
      border-color: darken($dark-menu-color, 10%);
    }
  }
}

:host-context(.light-theme) {
  .chat-input {
    background-color: lighten($light-background-color, 20%);
    color: $dark-menu-color;    

    &:focus,&:hover {
      border-color: $dark-menu-color;
    }    
  }
}

/* R E S P O N S I V E   C O N F I G U R A T I O N

 */

@media screen and (max-width: 750px) {
    ::-webkit-scrollbar {
      display: none;
   }
   .send {
      width: 25%;
   }
}