@import 'themes';
@import 'bootstrap-extensions/button-outline-themed';


.avatar-upload-button {
   width: 200px;
   margin-bottom: 15px;
}
.room-avatar-wrapper { 
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 0 0 250px;

   img {
      width: auto;
      height: auto;
      max-height: 250px;
      max-width: 100%;
   }
}

/* Room creation button */

.room-creation-button {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 20px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-error {
    border-color: red;
}